<%-  include('partials/header') -%>
    <h1>Home</h1>
    <a href="/smoothie">Smoothie</a><br>
    <a href="/signup">Sign Up</a><br>
    <a href="/login">Log In</a>
<%-  include('partials/footer') -%>